ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=healthmate;Username=healthmate;Password=changeme
Jwt__Key=
Jwt__Issuer=HealthMate_Servers
Jwt__Audience=HealthMate_Clients
Gemini__ApiKey=
Gemini__BaseUrl=https://generativelanguage.googleapis.com/v1beta/
EmailSettings__Email=
EmailSettings__Password=
Cors__AllowedOrigins__0=http://localhost:4200
POSTGRES_USER=healthmate
POSTGRES_PASSWORD=changeme
POSTGRES_DB=healthmate
